# Web Scraping Assignment 4 ( Selenium):

In [1]:
#Importing required Libraries for assignment
import pandas as pd
import time
import selenium
# importing selenium webdriver
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
# importing required exceptions which needs to be handled
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import requests

In [2]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
#Opening the required website
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos "
driver.get(url)
time.sleep(2)

In [4]:
# Lets create list for scraping required data

rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [5]:
# Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("_")
    
# Name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        name.append(i.text)
except NoSuchElementException:
    name.append("_")
    
# Artist
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        artist.append(i.text)
except NoSuchElementException:
    artist.append("_")

# upload date
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("_")
    
# views
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        views.append(i.text)
except NoSuchElementException:
    views.append("_")
    
# Creating DataFrame fr scraped data
df = pd.DataFrame({})
df['Rank']=rank
df['Name']=name
df['Artist']=artist
df['Upload Date']=upload_date
df['Views']=views

In [6]:
df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,9.90,"June 17, 2016"
1,2.,"""Despacito""[5]",Luis Fonsi,7.68,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,6.06,"October 8, 2016"
3,4.,"""Shape of You""[12]",Ed Sheeran,5.57,"January 30, 2017"
4,5.,"""See You Again""[14]",Wiz Khalifa,5.37,"April 6, 2015"
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,4.79,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,4.54,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,4.48,"January 31, 2012"
8,9.,"""Uptown Funk""[22]",Mark Ronson,4.41,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.37,"March 6, 2014"
10,11.,"""Gangnam Style""[24]",Psy,4.29,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[29]",El Chombo,3.77,"April 5, 2018"
12,13.,"""Sugar""[30]",Maroon 5,3.61,"January 14, 2015"
13,14.,"""Sorry""[31]",Justin Bieber,3.50,"October 22, 2015"
14,15.,"""Roar""[32]",Katy Perry,3.49,"September 5, 2013"
15,16.,"""Counting Stars""[33]",OneRepublic,3.47,"May 31, 2013"
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.44,"May 24, 2018"
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,3.38,"October 7, 2014"
18,19.,"""Girls Like You""[36]",Maroon 5,3.20,"May 31, 2018"
19,20.,"""Faded""[37]",Alan Walker,3.20,"December 3, 2015"
20,21.,"""Dark Horse""[38]",Katy Perry,3.20,"February 20, 2014"
21,22.,"""Axel F""[39]",Crazy Frog,3.15,"June 16, 2009"
22,23.,"""Bailando""[40]",Enrique Iglesias,3.14,"April 11, 2014"
23,24.,"""Let Her Go""[41]",Passenger,3.14,"July 25, 2012"
24,25.,"""Lean On""[42]",Major Lazer,3.14,"March 22, 2015"
25,26.,"""Shake It Off""[43]",Taylor Swift,3.13,"August 18, 2014"
26,27.,"""Perfect""[44]",Ed Sheeran,3.05,"November 9, 2017"
27,28.,"""Mi Gente""[45]",J Balvin,3.02,"June 29, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.02,"June 4, 2010"
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,3.01,"June 25, 2018"

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1
st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url="https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

In [9]:
# lets click to reach international fixture page.
select=driver.find_element(By.XPATH,"//div[@class='navbar-collapse collapse']/ul/li[2]/a")
driver.get(select.get_attribute("href"))
time.sleep(2)

In [10]:
# lets create empty list of items to be scrapped
match_title=[]
series=[]
place=[]
date=[]
Time=[]

In [11]:
#match title
for i in driver.find_elements(By.XPATH,"//div[@class='tab-inner-content']/div/div/div/div[4]/div"):
    match_title.append(i.text)
# series
for i in driver.find_elements(By.XPATH,"//span[@class='ng-binding']"):
    series.append(i.text)
#place
for i in driver.find_elements(By.XPATH,"//div[@class='tab-inner-content']/div/div/div/div[4]/div"):
    place.append(i.text)
#date
for i in driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']/h5"):
    date.append(i.text)
#Time
for i in driver.find_elements(By.XPATH,"//div[@class='match-top-info d-flex align-items-center justify-content-between']/div[2]/h5"):
    Time.append(i.text.replace)

# Creating data frame
df=pd.DataFrame(list(zip(match_title[0:5],series[0:5],place[0:5],date[0:5],Time[0:5])),columns=["Match Title","Series","Place","Date","Time"])
df

,Match Title,Series,Place,Date,Time
0,"2nd Test - The Wanderers Stadium, Johannesburg",INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"2nd Test - The Wanderers Stadium, Johannesburg",3 JAN 2022,<built-in method replace of str object at 0x00...
1,"3rd Test - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"3rd Test - Newlands, Cape Town",11 JAN 2022,<built-in method replace of str object at 0x00...
2,"1st ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"1st ODI - Boland Park, Paarl",19 JAN 2022,<built-in method replace of str object at 0x00...
3,"2nd ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"2nd ODI - Boland Park, Paarl",21 JAN 2022,<built-in method replace of str object at 0x00...
4,"3rd ODI - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"3rd ODI - Newlands, Cape Town",23 JAN 2022,<built-in method replace of str object at 0x00...

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:                             
A) Name                                                         
B) Description                                                 
Note: - From guru99 home page you have to reach to selenium  exception handling page through code

In [12]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url="https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [13]:
# lets create empty list for data extraction
name=[]
description=[]

In [14]:
# click on Selenium
sel=driver.find_element(By.XPATH,"//li//a[@title='Selenium']")
sel.click()
time.sleep(2)

In [17]:
#Click on Exception Handling
driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()
time.sleep(2)

#Scraping name
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]"):
            name.append(i.text)

#Scraping description
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]"):
            description.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({})
df['Exception_Name']=name
df['Description']=description
df

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.                                             
Url = http://statisticstimes.com/                                                     
You have to find following details:                                                   
A) Rank                                                              
B) State                                                             
C) GSDP                                                              
D) GSDP                                                              
E) Share                                                        
F) GDP($ billion)                                                
Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url=" http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

In [20]:
# Click on Economy
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

# Click on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(2)

In [21]:
# Click on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'//html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [22]:
# lets create empty list now
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

In [23]:
# rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("_")
    
# state
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        state.append(i.text)
except NoSuchElementException:
    state.append("_")
    
# gsdp1 at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        gsdp1.append(i.text)
except NoSuchElementException:
    gsdp1.append("_")
    
# gsdp2 at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        gsdp2.append(i.text)
except NoSuchElementException:
    gsdp2.append("_")
    
# share
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        share.append(i.text)
except NoSuchElementException:
    share.append("_")
    
# gdp $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append("_")
    
# lets Create DataFrame
df = pd.DataFrame({})
df['Rank'] = rank
df['State'] = state
df['GSDP at current price (19-20)'] = gsdp1
df['GSDP at current price (18-19)'] = gsdp2
df['Share(18-19)'] = share
df[' GDP($ billion)'] = gdp
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

Q5. Scrape the details of trending repositories on Github.com.  
Url = https://github.com/                                       
You have to find the following details:                          
A) Repository title                                              
B) Repository description                                        
C) Contributors count                                            
D) Language used                                                  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [25]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url=" https://github.com/"
driver.get(url)
time.sleep(2)

In [35]:
#Getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"//html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()
explore
#Selecting trending option
trend_url = driver.find_element(By.XPATH,"//div[@class='container-xl d-lg-flex flex-items-center p-responsive']/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [48]:
# lets create empty list
repository_title=[]
descrip=[]
contributors=[]
language=[]

In [73]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in title:
    repository_title.append(i.text)
    
# Scraping Repository Description data
try:
    for i in driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']"):
        descrip.append(i.text)
except NoSuchElementException:
    descrip.append('-')


# Scraping Contributors Count data
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']/a[2]"):
        contributors.append(i.text.replace('Contributors',''))
except NoSuchElementException:
    contributors.append('-')

# Scraping Languages used data
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']/span/span[2]"):
        language.append(i.text)
except NoSuchElementException:
    language.append('-')

# lets Create Dataframe
df=pd.DataFrame({})
df["Repositiry Title"]= repository_title[0:25]
df["Description"]=descrip[0:25]
df["Contributors"]=contributors[3:28]
df["Programming Langauge"]=language[0:25]
df

,Repositiry Title,Description,Contributors,Programming Langauge
0,teslamotors / light-show,Tesla Light Show,122,Python
1,youngyangyang04 / leetcode-master,LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视频难点剖析，5...,"5,147",Python
2,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"28,740",Lua
3,Courseplay / Courseplay_FS22,Courseplay for Farming Simulator 2022,45,C++
4,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"31,010",JavaScript
5,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,"22,370",Dart
6,R2Northstar / Northstar,Repo for packaged Northstar releases and the wiki,46,Python
7,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,"4,927",Go
8,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,"21,325",JavaScript
9,alesimula / wsa_pacman,A GUI package manager and package installer fo...,52,TypeScript
10,mpcabete / bombcrypto-bot,This is a python bot that automatically logs i...,324,JavaScript
11,Hackmanit / Web-Cache-Vulnerability-Scanner,Web Cache Vulnerability Scanner is a Go-based ...,36,Jinja
12,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,"1,971",TypeScript
13,Tinkoff / taiga-ui,Angular UI Kit and components library for awes...,174,Solidity
14,mkrl / misbrands,The world's most hated IT stickers,146,JavaScript
15,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,"9,543",TypeScript
16,notthebee / infra,IaC for my Linux/Unix machines,16,Lua
17,bangle-io / bangle-io,A web only WYSIWYG note taking app that saves ...,6,C
18,Dapp-Learning-DAO / Dapp-Learning,The fastest way to build Svelte apps,289,TypeScript
19,sveltejs / kit,The open source Firebase alternative. Follow t...,487,C++
20,supabase / supabase,Use Neovim as a language server to inject LSP ...,"1,334",Python
21,jose-elias-alvarez / null-ls.nvim,Launcher used to modify titanfall 2 to allow m...,147,Python
22,R2Northstar / NorthstarLauncher,Dark Reader Chrome and Firefox extension,22,Lua
23,darkreader / darkreader,Control WS2812B and many more types of digital...,"1,694",C++
24,Aircoookie / WLED,Tesla Light Show,"1,494",JavaScript

Q6. Scrape the details of top 100 songs on billiboard.com.      
Url = https:/www.billboard.com/                                 
You have to find the following details:                           
A) Song name                                                   
B) Artist name                                                 
C) Last week rank                                              
D) Peak rank                                                   
E) Weeks on board                                              
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [74]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url=" https:/www.billboard.com/"
driver.get(url)
time.sleep(2)

In [77]:
# click on charts
chart=driver.find_element(By.XPATH,"//li[@class='o-nav__list-item ']/a").click()

In [78]:
# lets create empty list
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [83]:
# song names
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li/h3"):
    song_name.append(i.text)
    
# artist names
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li/span"):
    artist_name.append(i.text)
    
# last week ranks
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[4]/span"):
    last_week_rank.append(i.text)
    
# peak rank
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]/span"):
    peak_rank.append(i.text)
    
# weeks on board
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]/span"):
    weeks_on_board.append(i.text)
    
# Lets Create dataframe
df=pd.DataFrame({})
df['Name'] = song_name[0:100]
df['Artist'] = artist_name[0:100]
df['Last week rank'] = last_week_rank[0:100]
df['Peak rank'] = peak_rank[0:100]
df['Weeks on board'] = weeks_on_board[0:100]
df

,Name,Artist,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,2,1,49
1,Rockin' Around The Christmas Tree,2,3,2,43
2,Easy On Me,1,1,1,10
3,Jingle Bell Rock,49,6,3,40
4,A Holly Jolly Christmas,Brenda Lee,5,4,24
...,...,...,...,...,...
95,No Love,11,78,13,6
96,Bad Man (Smooth Criminal),Darlene Love,70,49,5
97,Feel Alone,25,-,98,1
98,Heart On Fire,17,95,89,4
99,Bubbly,10,91,20,9

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/                                   
You have to find the following details:                         
A) Name                                                         
B) Designation                                                    
C) Company                                                        
D) Skills they hire for                                           
E) Location                                                        
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [84]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url=" https://www.naukri.com/"
driver.get(url)
time.sleep(2)

In [85]:
#opening recruiter page
recruiter = driver.find_element(By.XPATH,"//a[@title='Search Recruiters']")
page = recruiter.get_attribute("href")
driver.get(page)
time.sleep(2)

In [88]:
# Searching data science and clicking search button
search = driver.find_element(By.XPATH,"//div[@class='inpWrap']//input") 
search.send_keys("Data science")
time.sleep(2)

In [90]:
btn = driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']")
btn.click()
time.sleep(2)

In [91]:
# Lets create empty list
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [92]:
#Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    name.append(i.text)
time.sleep(2)


#Designation
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    designation.append(i.text)
time.sleep(2)

#company name
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    company.append(i.text)
time.sleep(2)
    
#Skills 
for i in driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        skills.append(i.text)
    except NoSuchElementException:
        skills.append('-')
    time.sleep(2)

#locations
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]//span"):
    location.append(i.text)
time.sleep(2)

# Lets Create dataframe
df=pd.DataFrame({})
df['Name'] = name[:50]
df['Designation'] = designation[:50]
df['Company']=company[:50]
df['Skills'] = skills[:50]
df['Location'] = location[:50]
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",UK - (london)
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Vadodara / Baroda
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Priyanka Akiri
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Manager
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Hyderabad
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Kalpana Dumpala
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Executive Hiring
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Hyderabad / Secunderabad
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Mubarak
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Company HR
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Kushal Rastogi
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Company HR
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mumbai
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Mahesh Babu Channa
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",HR Team Lead
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Sakshi Chhikara
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Assistant Manager HR
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Chandigarh
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Kapil Devang
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",HR Manager

Q8. Scrape the details of Highest selling novels.              
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:                        
A) Book name                                                   
B) Author name                                                 
C) Volumes sold                                                
D) Publisher                                                   
E) Genre

In [94]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/"
driver.get(url)
time.sleep(2)

In [95]:
# lets create a list
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [96]:
#book names
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    book_name.append(i.text)

    
#author names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        author_name.append(i.text)
    except NoSuchElementException:
        author_name.append('-')
time.sleep(1)


#volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    volumes_sold.append(i.text)

    
#publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    publisher.append(i.text)

    
#genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    genre.append(i.text)
    
#Creating dataframe for scraped data
df=pd.DataFrame({})
df['Book Name'] = book_name
df['Author'] = author_name
df['Volume sold'] = volumes_sold
df['Publisher'] = publisher
df['Genre'] = genre
df

Empty DataFrame
Columns: [Book Name, Author, Volume sold, Publisher, Genre]
Index: []

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/                    
You have to find the following details:                          
A) Name                                                          
B) Year span                                                     
C) Genre                                                         
D) Run time                                                      
E) Ratings                                                     
F) Votes

In [97]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

In [98]:
# lets create empty list
Name=[]
year_span=[]
Genre=[]
run_time=[]
ratings=[]
votes=[]

In [99]:
#\ Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

#Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(i.text)

#genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

#Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    run_time.append(i.text)

#Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    ratings.append(i.text)
    
#votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    votes.append(i.text)
    
# Lets Create dataframe
df=pd.DataFrame({})
df['Name'] = Name
df['Year Span'] = year_span
df['Genre'] = Genre
df['Run Time'] = run_time
df['Ratings'] = ratings
df['Votes'] = votes
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,919,745"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"944,517"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,607"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,048"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,422"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,901"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,700"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,950"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,034"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"216,176"

Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/                             
You have to find the following details:                         
A) Dataset name                                                  
B) Data type                                                     
C) Task                                                         
D) Attribute type                                                
E) No of instances                                               
F) No of attribute                                               
G) Year                                                          
Note: - from the home page you have to go to the ShowAllDataset page through code

In [100]:
# Extracting path of the Webdriver//div[@id='productOverview_feature_div']/div/table/tbody/tr/td[2]/span
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver= webdriver.Chrome(service=path)

#Opening the required website
url="https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [101]:
# click on view all dataset button from the homepage
view= driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view.get_attribute("href")
driver.get(page_url)
time.sleep(2)

In [102]:
# lets create an empty list
dataset_name=[]
datatype=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attributes=[]
Year=[]

In [117]:
#Dataset name
try: 
    for i in driver.find_elements(By.XPATH,"//span[@class='heading']"):
        dataset_name.append(i.text)
except NoSuchElementException:
    dataset_name.append('-')
time.sleep(2)
    
#data type
try:
    for i in driver.find_elements(By.XPATH,"//table[@border='1']//tbody/tr/td[2]"):
        datatype.append(i.text)
except NoSuchElementException:
    datatype.append('-')
time.sleep(2)
    
#Task
try:
    for i in driver.find_elements(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]"):
        task.append(i.text)
except NoSuchElementException:
        task.append('-')
time.sleep(2)

#Attribute
try:
    for i in driver.find_elements(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]"):
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append('-')
time.sleep(2)
    
#No of instances
try:
    for i in driver.find_elements(By.XPATH,"//table[@border='1']//tbody/tr/td[4]"):
        no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append('-')
time.sleep(2)
    
# No of attributes
try:
    for i in driver.find_elements(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]"):
        no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append('-')
time.sleep(2)
    
# year
try:
    for i in driver.find_elements(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]"):
        Year.append(i.text[:4])
except NoSuchElementException:
    Year.append('-')
time.sleep(2)

# lets create a DataFrame
df=pd.DataFrame({})
df['Data Name'] = dataset_name[:3]
df['Data Type'] = datatype[:3]
df['Task'] = task[:3]
df['Attribute type'] = attribute_type[:3]
df['No of instance'] = no_of_instances[:3]
df['No of attributes'] = no_of_attributes[:3]
df['Year'] = Year[:3]
df

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,-,Data Types,Multivariate,Multivariate,Attribute Types,"Categorical, Integer, Real",8
1,-,Data Types,Multivariate,Multivariate,Attribute Types,"Categorical, Integer, Real",8
2,-,Data Types,Multivariate,Multivariate,Attribute Types,"Categorical, Integer, Real",8